<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      @Html.ActionLink("Sample App", "Home", null, new { id = "logo" })
      <nav>
        <ul class="nav pull-right">
          <li>@Html.ActionLink("Home", "Home")</li>
          <li>@Html.ActionLink("Help", "Help")</li>
          <li>@Html.ActionLink("Sign in", "#")</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
