<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      @Html.ActionLink("Sample App", "Home", "StaticPages", null, new { id = "logo" })
      <nav>
        <ul  class="nav pull-right">
          <li>@Html.ActionLink("Home", "Home", "StaticPages", null, null)</li>
          <li>@Html.ActionLink("Help", "Help", "StaticPages", null, null)</li>
          @Html.Partial("_LoginPartial")
        </ul>
      </nav>
    </div>
  </div>

</header>
